{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class="alert alert-success tp" role="alert"  style="position: relative; top: 230px;">
                <h4 class="alert-heading text-dark">Appointment Confirmed!</h4>
                <p class="text-dark">You have successfully booked an appointment with {{ appointment.trainer.name }}.</p>
                <p class="text-dark"> Our trainers are dedicated to supporting you on your fitness journey. Your session will last 1 hour, during which we will focus on helping you achieve your personal goals with expert guidance. We look forward to be part of your progress."</p>
                <hr>
                <p class="mb-0 text-dark">Date: {{ appointment.date }}</p>
                <p class="mb-0 text-dark">Time: {{ appointment.time }}</p>
                <a href="{% url 'home' %}" class="btn btn-dark mt-3">Go to Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
