{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container-fluid bg-light py-5 pt-250">
        <div class="container text-center pt-250">
            <p>-x-</p>
            <h1 class="display-4 text-dark pt-250">Book an Appointment with {{ trainer.name }}</h1>
            <p class="lead text-dark">{{ trainer.expertise }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title mb-4 text-center">Appointment Form</h4>

                    <!-- Form Start -->
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="btn btn-dark btn-block">Confirm Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
