{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid bg-light py-5">
    <div class="container text-center">
    </div>
</div>
<div class="container-fluid bg-light py-5"></div>
    <div class="container text-center">
    </div>
</div><div class="container-fluid bg-light py-5"></div>
</div>
    <div class="container-fluid bg-light py-5">
        <div class="container text-center">
            <h3 class="display-4 text-dark">Booking an Appointment with {{ trainer.name }}</h3>
            <p class="lead text-dark">{{ trainer.expertise }}</p>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">  <!-- Center text in card body -->
                    <h4 class="card-title mb-4">Appointment Form</h4>

                    <!-- Form Start -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p|safe }}
                        </div>

                        <button type="submit" class="btn btn-dark btn-block">Confirm Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
