{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h1>Our Trainers</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled">
                {% for trainer in trainers %}
                    <li class="mb-4">
                        <h2>{{ trainer.name }}</h2>
                        <p><strong>Expertise:</strong> {{ trainer.expertise }}</p>
                        <p>{{ trainer.bio }}</p>
                        <a href="{% url 'book_appointment' trainer.id %}" class="btn btn-primary">
                            Book an Appointment
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
