{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container-fluid bg-light py-5">
    <div class="container text-center">
        <h5 class="text-dark">Complete Your Payment</h5>
        <p class="lead text-dark">Please confirm your payment of $50 to book your session with {{ appointment.trainer.name }}.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark btn-block">Proceed to Payment</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
