{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<h1>Our Trainers</h1>
<ul>
    {% for trainer in trainers %}
        <li>
            <h2>{{ trainer.name }}</h2>
            <p>{{ trainer.expertise }}</p>
            <p>{{ trainer.bio }}</p>
            <a href="{% url 'book_appointment' trainer.id %}">Book an Appointment</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
