{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container-traine pt-250r">
        <div class="container-trainer container text-center pt-250">
            <h1 class="display-4 custom-display-4 text-black">Choose Your Trainer</h1>
            <p class="lead text-white ">Book an appointment with one of our expert trainers</p>
        </div>
    </div>
{% endblock %}
s
{% block content %}
<div class="container my-5" style="padding-top: 50px;">
    <div class="row">
        <!-- Main Content: List of Trainers -->
        <div class="col-12">
            <div class="row">
                {% for trainer in trainers %}
                    <div class="col-md-4 mb-4">
                        <div class="card h-100 shadow-sm" style="padding-top: 50px;">
                            
                            <!-- Trainer Info -->
                            <div class="card-body text-center">
                                <h5 class="card-title">{{ trainer.name }}</h5>
                                <p class="card-text">{{ trainer.expertise }}</p>
                                <p class="text-muted">{{ trainer.bio|truncatewords:20 }}</p>
                                <a href="{% url 'book_appointment' trainer.id %}" class="btn btn-dark btn-block">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
